.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: rgba(255, 255, 255, 1);
    &__top {
        padding: 12px 12px 12px 12px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid #F1F1F1;
    }
    &__menu,
    &__icons {
        width: 80px;
    }
    &__logo {
        width: 87px;
        margin-left: auto;
        margin-right: auto;
        font-family: $mullerB;
        font-size: 21px;
        text-transform: uppercase;
        margin-top: 3px;
        outline: none;
    }
    &__menu {
        margin-left: 7px;
        i {
            font-size: 24px;
        }
    }
    &__icons {
        display: flex;
        justify-content: flex-end;
        margin-right: 3px;
        &-link {
            color: $red;
            margin-right: 10px;
            &:nth-child(2) {
                margin-right: 10px;
            }
            &:last-child {
                margin-right: 0;
            }
            >i {
                font-size: 17px;
            }
        }
    }
    &__search {
        width: 100%;
        margin-top: 13px;
        form {
            background: #F8F8F8;
            display: flex;
            align-items: center;
            height: 40px;
            position: relative;
            border-radius: 2px;
            input {
                padding-left: 19px;
                padding-right: 50px;
                width: 100%;
                outline: none;
                background: none;
                font-size: 1.1em;
                font-family: $robotoL;
                height: 100%;
                color: #999999;
                border-radius: 2px;
                letter-spacing: 0.55px;
                border: 1px solid transparent;
                transition: all .3s ease-in-out;
                &:focus {
                    border-color: #e4e4e4;
                }
            }
            input[type="search"]::-webkit-search-decoration,
            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-results-button,
            input[type="search"]::-webkit-search-results-decoration {
                display: none;
            }
            button {
                position: absolute;
                right: 14px;
                top: 0;
                bottom: 0;
                margin: auto;
                font-size: 15px;
                width: 30px;
                height: 30px;
                background: none;
                border: none;
                color: #999999;
                cursor: pointer;
                outline: none;
            }
        }
    }
    &__lang {
        display: none;
    }
    &__popup {
        &-top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 56px;
            border-bottom: 1px solid #F1F1F1;
            letter-spacing: 1.32px;
            position: relative;
        }
        &-title {
            font-size: 1.1em;
            font-family: $montB;
            text-transform: uppercase;
            color: #484848;
        }
        &-desc {
            font-size: 0.9em;
            font-family: $robotoL;
            color: #666666;
            margin-top: 5px;
            i {
                font-style: normal;
                font-family: $robotoR;
            }
        }
        &-close{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            font-size: 18px;
            width: 18px;
            height: 18px;
            color: #999;
            right: 25px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    &__nav {
        &-top {
            display: flex;
            align-items: center;
            height: 51.5px;
            border-bottom: 1px solid #F1F1F1;
        }
        &-close,
        &-lang {
            width: 76px;
        }
        &-close {
            font-size: 18px;
            color: #999;
            padding-left: 25px;
        }
        &-lang {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #999;
            font-size: 1.2em;
            border-left: 1px solid #F1F1F1;
            height: 100%;
        }
    }
    &__account {
        &-list {
            list-style: none;
            margin: 0;
            padding: 0;
            a {
                display: flex;
                align-items: center;
                font-size: 1.1em;
                font-family: $montS;
                letter-spacing: 1.32px;
                text-transform: uppercase;
                height: 55px;
                padding: 0 25px;
                color: #666;
                border-bottom: 1px solid #F1F1F1;
            }
        }
    }
    &__bag {
        display: flex;
        flex-direction: column;
        &-is,
        &-no {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
        &-list {
            display: flex;
            flex-direction: column;
        }
        &-item {
            display: flex;
            padding: 20px 15px 14px;
            position: relative;
            border-bottom: 1px solid #F1F1F1;
            &-wish {
                position: absolute;
                z-index: 1;
                left: 8px;
                top: 0;
                width: 20px;
                height: 20px;
                i {
                    padding-top: 5px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                }
                .icon-heart {
                    color: #000;
                    opacity: 0.3;
                }
            }
            &-img {
                width: 66px;
                height: 66px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 13px;
                position: relative;
                z-index: 0;
                img {
                    object-fit: cover;
                }
            }
            &-content {
                width: 153px;
                flex-grow: 1;
                padding-right: 70px;
                display: flex;
                flex-direction: column;
            }
            &-title {
                font-size: 0.9em;
                font-family: $montB;
                margin-bottom: 9px;
                word-break: break-all;
                width: 95%;
            }
            &-desc {
                font-size: 0.9em;
                margin-bottom: 3px;
            }
            &-delete {
                padding: 4px 0;
                color: #AFAFAF;
            }
            &-price {
                position: absolute;
                top: 19.5px;
                right: 16px;
                color: #484848;
            }
        }
        &-summ {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: auto;
            padding: 20px;
            font-family: $mullerB;
            line-height: 1;
            font-size: 1.2em;
            min-height: 52px;
            border-top: 1px solid #F1F1F1;
            color: #484848;
            &-text {
                margin-right: 23px;
            }
        }
        &-btn {
            background: #63DF36;
            width: calc(100% - 18px);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 8px;
        }
        &-notification {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            margin-bottom: 100px;
            i {
                font-size: 62px;
                color: #F1F1F1;
                margin-bottom: 22px;
            }
            span {
                font-size: 1.1em;
                line-height: 1.8;
                width: 100px;
                text-align: center;
                color: #484848;
            }
        }
    }
    &__message {
        display: flex;
        flex-direction: column;
        &-content {
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
        }
    }
}
@media (min-width:1024px) {
    .header {
        position: fixed;
        &__nav {
            position: relative;
            z-index: 9;
            overflow: visible;
            /* overflow-x: hidden; */
            transform: none !important;
            width: 100%;
            height: auto;
            /* margin-top: 57px; */
            padding: 0 4%;
            width: 100%;
            box-shadow: none;
            border-top: none;
            &-top{
                display: none !important;
            }
        }
        &__top {
            position: relative;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 8px 4%;
            background: #fff;
        }
        &__search {
            width: 34%;
            order: -1;
            margin-top: 0;
            margin-left: 40px;
            display: flex;
            form {
                width: 347px;
                margin-right: 15px;
                flex-grow: 1;
                input {
                    font-size: 0.9em;
                    &:hover {
                        border-color: #e4e4e4;
                    }
                }
                button {
                    transition: all .3s ease-in-out;
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
        &__lang {
            display: flex;
            position: relative;
            cursor: pointer;
            span,
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.9em;
                text-transform: uppercase;
                color: #999;
            }
            span {
                i {
                    font-size: 0.5em;
                    margin-left: 5px;
                    transition: all .3s ease-in-out;
                }
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                position: absolute;
                top: 80%;
                background: #fff;
                border-radius: 3px;
                overflow: hidden;
                width: 64px;
                left: -23.5px;
                box-shadow: 0 24px 34px rgba(0, 0, 0, .1);
                transition: all .3s ease-in-out;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-5px);
                li {
                    a {
                        height: 25px;
                        transition: all .3s ease-in-out;
                        &:hover {
                            background: $red;
                            color: #FFF;
                        }
                    }
                }
            }
            &:hover {
                span {
                    i {
                        transform: rotate(-90deg);
                    }
                }
                ul {
                    opacity: 1;
                    visibility: visible;
                    transform: none;
                }
            }
        }
        &__logo {
            order: -2;
            margin: 0;
            margin-left: 25px;
        }
        &__menu {
            display: none;
        }
        &__popup-top {
            min-height: 64px;
            cursor: default;
        }
        &__popup-close{
            cursor: pointer;
            transition: all .3s ease-in-out;
            font-size: 13px;
            top: 2px;
            &:hover{
                opacity: 0.5;
            }
        }
        &__icons {
            margin-right: 32px;
            &-link {
                color: rgba(175, 17, 17, 0.3);
                transition: all .3s ease-in-out;
                &:hover {
                    color: $red;
                    >div {
                        opacity: 1;
                        visibility: visible;
                        transform: none;
                    }
                }
                >i {
                    cursor: pointer;
                    position: relative;
                    &::after{
                        content: "";
                        width: 20px;
                        height: 25px;
                        background: transparent;
                        position: absolute;
                        top: 100%;
                        left: -2px;
                        display: none;
                    }
                }
                &:hover{
                    i::after{
                        display: block;
                    }
                }
            }
        }
        &__bag,
        &__account {
            &.popup {
                position: absolute;
                z-index: 20;
                top: 100%;
                right: 2%;
                left: auto;
                height: auto;
                box-shadow: 0 24px 34px 0 rgba(0, 0, 0, 0.09);
                border: 1px solid #F1F1F1;
                border-radius: 2px;
                transform: translateY(-10px) !important;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in-out;
                &.open {
                    opacity: 1;
                    visibility: visible;
                    transform: none;
                }
            }
        }
        &__account {
            width: 290px;
            &-list {
                li {
                    a {
                        color: #484848;
                        font-family: $robotoR;
                        text-transform: none;
                        transition: all .3s ease-in-out;
                        &:hover {
                            color: $red;
                        }
                    }
                    &:last-child {
                        a {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
        &__bag {
            width: 335px;
            &-item {
                &-img {
                    transition: all .3s ease-in-out;
                    &:hover {
                        opacity: 0.8;
                    }
                }
                &-title {
                    font-size: 0.75em;
                    margin-bottom: 9px;
                    width: 93%;
                }
                &-desc {
                    font-size: 0.75em;
                    margin-bottom: 10px;
                }
                &-delete {
                    padding: 0;
                    font-size: 0.85em;
                }
                &-content {
                    a {
                        transition: all .3s ease-in-out;
                        &:hover {
                            color: $red;
                        }
                    }
                }
                &-price {
                    font-family: $mullerM;
                    font-size: 0.83em;
                }
                &-wish {
                    cursor: pointer;
                    i {
                        transition: all .3s ease-in-out;
                        &.hidden {
                            display: flex !important;
                            opacity: 0;
                        }
                    }
                    &:hover {
                        i.icon-heart-full {
                            opacity: 1;
                        }
                        i.icon-heart {
                            opacity: 0;
                        }
                    }
                }
            }
            &-summ {
                font-size: 1em;
            }
            &-notification{
                margin: 50px 20px 60px;
                span{
                    width: 130px;
                }
            }
            &-btn {
                border: 1px solid #63DF36;
                &:hover {
                    color: #484848;
                    background: none;
                }
            }
        }
        &__message{
            width: 471px;
            left: 0;
            right: 0;
            margin: auto;
            &.popup{
                opacity: 1;
                visibility: visible;
            }
            &-content{
                padding: 72px 61px 107px;
            }
        }
    }
}
@media (min-width:1280px){
    .header{
        &__top{
            padding: 8px 10.2%;
        }
        &__nav{
            padding: 0 10.2%;
        }
        &__search{
            margin-left: 7%;
        }
        &__icons{
            position: relative;
        }
        &__bag,
        &__account{
            &.popup{
                top: calc(100% + 18px);
                right: 0;
                left: auto;
                transform: translateX(40%) !important;
            }
        }
    }
}
@media (min-width:1900px){
    .header{
        &__logo{
            font-size: 24px;
            width: 95px;
        }
        &__icons{
            width: 95px;
            &-link{
                > i{
                    font-size: 20px;
                }
            }
        }
        &__top{
            padding-top: 13px;
            padding-bottom: 10px;
        }
        &__search{
            width: 430px;
        }
        &__lang{
            position: relative;
            top: -3px;
            ul{
                width: 72px;
                li{
                    a{
                        height: 32px;
                    }
                }
            }
        }
        &__bag{
            width: 400px;
            &-item{
                &-wish{
                    i{
                        font-size: 14px;
                    }
                }
            }
        }
        &__popup{
            &-close{
                font-size: 15px;
            }
        }
    }
}