.how-old {
    &.close{
        opacity: 0;
        visibility: hidden;
    }
    &.popup{
        z-index: 9999;
        transform: none;
    }
    text-align: center;
    .header__nav-lang,
    .header__nav-close {
        display: none;
    }
    .header__nav-top{
        visibility: visible;
        background: #fff;
    }
    .popup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 31px;
    }
    &__agree {
        margin-top: auto;
        font-size: 0.9em;
        color: #AFAFAF;
        a {
            color: #AFAFAF;
            text-decoration: underline;
        }
    }
    &__desc {
        margin-top: auto;
        display: block;
        font-size: 1.1em;
        margin-bottom: 16px;
    }
    &__title {
        width: 190px;
        font-size: 1.1em;
        font-family: $montB;
        margin-bottom: 94px;
    }
    &__btns {
        display: flex;
        width: 100%;
        padding: 0 35px;
    }
    &__yes,
    &__back,
    &__no {
    	color: #FFF;
        margin-right: 19px;
        border-color: #FFCFCF;
        color: $red;
    }
    &__back{
    	margin-right: 0;
    }
    &__no {
        margin-right: 0;
    }
    &__sorry{
    	.how-old__btns{
    		margin-bottom: auto;
    	}
    	.how-old__desc{
    		width: 250px;
    	}
    }
}
@media (min-width:1024px){
    .how-old{
        transform: translateY(-50%) !important;
        &.popup{
            opacity: 1;
            visibility: visible;
            top: 50%;
            height: 409px;
            width: 510px;
            left: 0;
            right: 0;
            margin: auto;
            overflow: hidden;
        }
        &.close{
            transform: translateY(-50%) !important;
            opacity: 0;
            visibility: hidden;
        }
        .header__nav-top{
            display: flex !important;
            justify-content: center;
        }
        .header__logo{
            margin-left: 0;
        }
        .popup{
            height: calc(100% - 51.5px);
            padding: 80px 84px 51px;
            border: none;
        }
        &__ask{
            position: static;
            transform: none !important;
            opacity: 1;
            visibility: visible;
        }
        &__title{
            margin-bottom: 34px;
            width: auto;
            font-size: 1.25em;
        }
        &__desc{
            margin-top: 0;
        }
        &__sorry{
            top: calc(50% + 26px);
            &.popup{
                
            }
        }
        &__yes,
        &__back,
        &__no{
            &:hover{
                background: $red;
                color: #FFF;
            }
        }
    }
}