.login {
    overflow: hidden;
    .header__popup-close {
        display: none;
    }
    &__enter {
        visibility: hidden;
        transform: none !important;
    }
    &.open{
        .login__enter{
            visibility: visible;
        }
    }
    &__register,
    &__forgot{
        opacity: 0;
        visibility: hidden;
        transform: none !important;
        transition: all .5s ease-in-out;
        &.open{
            opacity: 1;
            visibility: visible;
        }
    }
    &__form {
        padding: 22px 8px 0;
        &-links {
            display: flex;
            justify-content: space-between;
            margin: 0 21px 22px;
        }
        &-remember {
            label {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            input {
                display: none;
            }
            span {
                width: 16px;
                height: 16px;
                position: relative;
                border: 1px solid #FFCFCF;
                border-radius: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 9px;
                font-size: 1.1em;
                /* transition: all .1s ease-in-out; */
                &::before {
                    color: $red;
                    font-size: 7px;
                    position: relative;
                    top: 0.5px;
                    left: .5px;
                    /* transition: all .1s ease-in-out; */
                    opacity: 0;
                }
            }
            input:checked+span {
                border-color: $red;
            }
            input:checked+span::before {
                opacity: 1;
            }
        }
        &-forgot {
            font-size: 1.1em;
            text-decoration: underline;
        }
        .btn {
            font-size: 1.2em;
            background: $red;
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 7px;
        margin-right: 7px;
        a {
            height: 44px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: underline;
            &:first-of-type {
                padding-top: 1px;
                font-family: $montM;
                color: #999;
            }
            &.red-link {
                color: $red;
            }
        }
        &-btn {
            font-size: 1.1em;
            border-radius: 22px;
            position: relative;
            margin-bottom: 10px;
            svg {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        &-fb {
            background: #1B66CA;
            color: #fff;
            svg {
                left: 26px;
                width: 9px;
                height: 18px;
                fill: #fff;
            }
        }
        &-google {
            background: #F2F2F2;
            color: #000;
            svg {
                left: 20px;
                width: 18.5px;
                height: 18.5px;
            }
        }
    }
    &__form,
    &__links {
        transition: all 0s ease-in-out;
        &.close {
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }
    }
    &__password-text {
        text-align: center;
        margin: 25px 0 21px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    &__forgot {
        /* position: relative; */
        &-success {
            height: calc(100% - 100px);
            transition: all .1s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            &.open {
                position: static;
                opacity: 1;
                visibility: visible;
            }
            &-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            .icon-success {
                font-size: 61px;
                color: #63DF36;
                margin-bottom: 28px;
            }
            p {
                margin: 0 0 15px 0;
                max-width: 261px;
                text-align: center;
                font-size: 1.4em;
                font-family: $robotoR;
                color: #484848;
            }
            a {
                font-family: $montM;
                letter-spacing: 1.32px;
                text-decoration: underline;
                color: #999;
            }
        }
    }
}

@media (min-width:1024px) {
    .login {
        width: 515px;
        height: 100vh;
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%) !important;
        bottom: auto;
        z-index: 21;
        opacity: 0;
        visibility: hidden;
        transition: all .1s ease-in-out;
        background: transparent;
        overflow: visible;
        border: none;
        box-shadow: none;
        &.open {
            left: 50%;
            opacity: 1;
            visibility: visible;
        }
        .header__popup-close {
            display: flex;
        }
        .login__enter,
        .login__register,
        .login__forgot {
            transform: translateY(-50%) !important;
        }
        &.open {
            .login__enter {
                transform: translateY(-50%) !important;
                opacity: 1;
                visibility: visible;
                &--hidden {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        &__form {
            padding: 35px 112px 0;
            .input {
                margin-left: 0;
                margin-right: 0;
            }
            &-links {
                margin: 0 0 17px 10px;
                label,
                a {
                    font-size: 0.9em;
                    cursor: pointer;
                }
            }
            &-remember {
                &:hover {
                    span {
                        border-color: $red;
                    }
                }
                span {}
            }
            &-forgot {
                &:hover {
                    text-decoration: none;
                }
            }
            .btn {
                font-size: 1em;
                padding-top: 5px;
                &:hover {
                    background: none;
                    border-color: $red;
                    color: $red;
                }
            }
        }
        &__password-text {
            font-size: 0.8em;
            line-height: 1.5;
        }
        &__links {
            margin: 0 115px 70px;
            a {
                font-size: 0.9em;
                cursor: pointer;
                font-family: $robotoR;
                transition: all .1s ease-in-out;
                &:first-of-type {
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            &-fb {
                border: 1px solid #1B66CA;
                svg {
                    fill: #fff;
                    transition: all .1s ease-in-out;
                }
                &:hover {
                    background: transparent;
                    color: #1B66CA;
                    text-decoration: none;
                    svg {
                        fill: #1B66CA;
                    }
                }
            }
            &-google {
                margin-bottom: 0;
                border: 1px solid #F2F2F2;
                transition: all .1s ease-in-out;
                &:hover {
                    border-color: #AFAFAF;
                    background: transparent;
                    text-decoration: none;
                }
            }
        }
        &__forgot {
            &-success {
                &-wrapper {
                    padding-top: 80px;
                    padding-bottom: 120px;
                }
            }
        }
    }
}
@media (min-width:1900px) {
    .login {
        width: 600px;
    }
}