.product {
    position: relative;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11px 5px 7px;
    text-align: center;
    &__wish {
        position: absolute;
        z-index: 2;
        left: 8px;
        top: 4px;
        width: 20px;
        height: 20px;
        i {
            padding-top: 5px;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }
        .icon-heart {
            color: #000;
            opacity: 0.3;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &__sticker {
        &-list {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 15px;
            display: flex;
        }
        &-item {
            height: 32px;
            width: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                transform: translateY(0.2px);
                left: 0px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 7.5px 5px 7.5px;
                border-color: transparent transparent #ffffff transparent;
            }
            &:first-of-type:not(:last-of-type) {
                margin-right: 10px;
            }
            &--gift {
                background: #A55BF9;
            }
            &--popular {
                background: #EAB930;
            }
            &--percent {
                background: #F22727;
            }
            &--fish {
                background: #FF7417;
            }
            &--meat {
                background: rgba(255, 49, 49, 0.66);
            }
            i {
                position: relative;
                font-size: 8px;
                color: #fff;
                &.icon-popular,
                &.icon-percent {
                    left: 0.5px;
                }
                &.icon-percent {
                    font-size: 7px;
                }
                &.icon-fish {
                    font-size: 11px;
                }
                &.icon-meat {
                    font-size: 9px;
                }
            }
        }
    }
    &__img {
        margin: 0 13px 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 0;
        height: 117px;
        img {
            object-fit: cover;
            max-height: 100%;
        }
    }
    &__title {
        font-family: $montB;
        font-size: 0.7em;
        line-height: 1.1;
        margin-bottom: 7px;
        text-transform: uppercase;
    }
    &__desc {
        font-size: 0.8em;
        line-height: 1;
        margin-bottom: 8px;
    }
    &__price,
    &__special {
        font-family: $mullerM;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    &__special {
        display: flex;
        align-items: center;
        justify-content: center;
        &-old {
            margin-right: 7px;
            color: #AFAFAF;
            text-decoration: line-through;
        }
        &-new {
            color: #F00;
        }
    }
    &__actions {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: auto;
        >* {
            min-height: 26px;
        }
    }
    &__buy,
    &__not-in-stock {
        font-size: 0.7em;
        padding-bottom: 1px;
    }
    &__buy {
        background: $red;
    }
    &__not-in-stock {
        background: #F1F1F1;
        color: #AFAFAF;
    }
    &__number {
        display: none;
        &-wrapper {
            display: flex;
            height: 26px;
        }
        span {
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            font-size: 0.9em;
            padding-left: 1px;
            padding-top: 1.5px;
        }
        &-plus {
            color: #FFF;
            background: $red;
        }
        &-minus {
            border: 1px solid #FFCFCF;
            color: $red;
        }
        input {
            width: 30%;
            outline: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #AFAFAF;
            font-size: 0.8em;
            font-family: $mullerM;
        }
    }
    &--article-block {
        flex-direction: row;
        padding: 25px 31px 14px 20px;
        margin: 0 4px 4px;
        .product__content {
            justify-content: flex-start;
            text-align: left;
            flex-grow: 1;
        }
        .product__title {
            padding-right: 30px;
        }
        .product__title,
        .product__desc {
            font-size: 0.9em;
        }
        .product__img {
            width: 92px;
            height: 92px;
            margin-left: 0;
            margin-right: 11px;
        }
        .product__actions {
            max-width: 300px;
            >* {
                min-height: 28px;
            }
            &-wrapper {
                height: 28px;
            }
        }
        .product__special {
            justify-content: flex-start;
        }
    }
    &--popular {
        width: 155px;
        &:last-of-type {
            margin-right: 15px !important;
        }
    }
}
@media (min-width:768px) {
    .product {
        &--article-block {
            margin-left: 0;
            margin-right: 0;
            .product__img{
                width: 110px;
                height: 110px;
                margin-left: 10px;
                margin-right: 20px;
            }
        }
    }
}
@media (min-width:1024px) {
    .product {
        &__wish {
            cursor: pointer;
            top: 7px;
            i {
                font-size: 14px;
                transition: all .3s ease-in-out;
                &.hidden {
                    display: flex !important;
                    opacity: 0;
                }
            }
            &:hover {
                i.icon-heart-full {
                    opacity: 1;
                }
                i.icon-heart {
                    opacity: 0;
                }
            }
        }
        &__img {
            transition: all .3s ease-in-out;
            &:hover {
                opacity: 0.8;
            }
        }
        &__buy {
            &:hover {
                border-color: $red;
                background: #fff;
                color: $red;
            }
        }
        &__not-in-stock {
            cursor: default;
            pointer-events: none;
        }
        &__number {
            span {
                cursor: pointer;
                transition: all .3s ease-in-out;
            }
            &-plus {
                border: 1px solid $red;
                &:hover {
                    background: none;
                    color: $red;
                }
            }
            &-minus {
                &:hover {
                    border-color: $red;
                }
            }
        }
        &__title {
            margin-bottom: 9px;
            transition: all .3s ease-in-out;
            &:hover {
                color: $red;
            }
        }
        &__desc {
            transition: all .3s ease-in-out;
            &:hover {
                color: $red;
            }
        }
        &--article-block {
            .product {
                &__desc {
                    margin-bottom: 20px;
                    width: 80%;
                }
                &__actions {
                    display: none;
                }
                &__img {
                    width: 102px;
                    height: 102px;
                    max-width: inherit;
                    margin-right: 15px;
                }
                &__content {
                    width: 80%;
                }
            }
        }
        &--popular {
            &:last-of-type {
                margin-right: 0 !important;
            }
        }
    }
}
@media (min-width:1280px) {
    .product {
        padding: 24px 12px 12px;
        &__img {
            margin-left: 0;
            margin-right: 0;
            width: 77%;
            height: 190px;
        }
        &__wish {
            i {
                font-size: 16px;
            }
        }
        &__sticker {
            &-item {
                width: 24px;
                height: 52px;
                &::after {
                    border-width: 0 12px 9px 12px;
                }
                i {
                    font-size: 13px;
                    &.icon-popular,
                    &.icon-percent {

                    }
                    &.icon-percent {
                        font-size: 11px;
                    }
                    &.icon-fish {
                        font-size: 18px;
                    }
                    &.icon-meat {
                        font-size: 15px;
                    }
                }
            }
        }
        &__title {
            font-size: 1.1em;
            margin-bottom: 8px;
        }
        &__desc {
            font-size: 1em;
            margin-bottom: 15px;
        }
        &__price {
            font-size: 1.1em;
        }
        &__special {
            &-old {
                font-size: 0.9em;
            }
        }
        &__actions {
            >* {
                min-height: 40px;
            }
        }
        &__buy,
        &__not-in-stock {
            font-size: 1em;
        }
        &--article-block {
            .product {
                &__img{
                    margin-left: 24px;
                }
                &__title {
                    font-size: 1.1em;
                    margin-bottom: 8px;
                }
                &__desc {
                    font-size: 1em;
                    margin-bottom: 15px;
                }
                &__price {
                    font-size: 1.1em;
                }
                &__special {
                    &-old {
                        font-size: 0.9em;
                    }
                }
            }
        }
        &__number{
            &-wrapper{
                height: 40px;
            }
        }
    }
}
@media (min-width:1900px){
    .product{
        &__img{
            height: 210px;
        }
        &__title,
        &__desc{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        &__title{
            margin-bottom: 13px;
        }
        &__desc{
            margin-bottom: 20px;
        }
        &__wish{
            i{
                font-size: 19px;
            }
        }
        &__actions{
            > *{
                min-height: 45px;
            }
        }
        &__number{
            &-wrapper{
                height: 45px;
            }
            span{
                font-size: 1.1em;
            }
        }
        &--article-block{
            .product__title,
            .product__desc{
                margin-left: 0;
            }
            .product__title{
                margin-bottom: 17px;
            }
            .product__desc{
                margin-bottom: 30px;
            }
            .product__img{
                width: 130px;
                height: 130px;
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
}