$arial: Arial, sans-serif;
$mullerBE: 'Muller-ExtraBold', Arial, sans-serif;
$mullerM: 'Muller-Medium', Arial, sans-serif;
$mullerB: 'Muller-Bold', Arial, sans-serif;
$robotoL: 'Roboto-Light', Arial, sans-serif;
$robotoR: 'Roboto-Regular', Arial, sans-serif;
$montM: 'Montserrat-Medium', Arial, sans-serif;
$montS: 'Montserrat-SemiBold', Arial, sans-serif;
$montB: 'Montserrat-Bold', Arial, sans-serif;

//color
$red: #AF1111;
