<div class="product__wish">
    <i class="icon-heart"></i>
    <i class="icon-heart-full hidden"></i>
</div>
<div class="product__sticker-list">
    <!-- <div class="product__sticker-item product__sticker-item--gift">
                                <i class="icon-gift"></i>
                            </div> -->
    <!-- <div class="product__sticker-item product__sticker-item--percent">
                                <i class="icon-percent"></i>
                            </div> -->
    <!-- <div class="product__sticker-item product__sticker-item--popular">
                                <i class="icon-popular"></i>
                            </div> -->
    <!-- <div class="product__sticker-item product__sticker-item--fish">
        <i class="icon-fish"></i>
    </div> -->
    <!-- <div class="product__sticker-item product__sticker-item--meat">
                                <i class="icon-meat"></i>
                            </div> -->
</div>
<a href="#" class="product__img">
    <img src="img/demo/vine.jpg" alt="">
</a>
<div class="product__content">
    <a href="#" class="product__title">MAROTTI CAMPI</a>
    <a href="#" class="product__desc">Lacrima di Morro d’Alba Superiore DOC “Orgiolo” 2018 - Marotti Campi</a>
    <div class="product__price">
        <span>110.50 UAH</span>
    </div>
    <div class="product__special hidden">
        <span class="product__special-old">110.50 UAH</span>
        <span class="product__special-new">90.00 UAH</span>
    </div>
    <div class="product__actions">
        <!-- При клике на "добваить в коризину" для наглядности вызова выбора количества сделал функцию "showQuantity" в main.js -->
        <a href="#" class="btn product__buy">У кошик</a>
        <a href="#" class="btn product__not-in-stock hidden">ЗАРАЗ ВІДСУТНЄ</a>
        <div class="product__number">
            <div class="product__number-wrapper">
                <span class="product__number-minus icon-minus"></span>
                <input readonly="" type="text" value="1" />
                <span class="product__number-plus icon-plus"></span>
            </div>
        </div>
    </div>
</div>